{% extends "base.html" %}

{% block app_content %}

<h3>Task:</h3>
<p class="lead">
In this task we set out to explore food security and safety using multiple linear regression. Food security and safety exists when all people, always, have physical and economic access to sufficient, safe, and nutritious food to meet their dietary needs and food preferences for an active and healthy life. A well-balanced diet is essential to meet one’s dietary needs. Thus, to tackle the issue of food security and safety, we decided to predict meat intake across the world based on socioeconomic factors. 
</p>
<hr>
<h3>Problem Statement:</h3>
<p class="lead">
How might we predic meat intake across the world based on socioeconomic factors?
</p>
<hr>
<h3>Data:</h3>
<p>
For our data, we are using 2 sources.<br>
For the independent variable (Meat Consumption), we are using data from <a href="https://ourworldindata.org/" target="_blank">Our World in Data </a>.<br>
For the dependent/predictor variables, we are using data from the the <a href="https://data.worldbank.org/" target="_blank">World Bank Open Data </a>.<br>
If you would like to view/download the data, head over to the <a href="/data">Data</a> tab.<br>
We chose to use data from the same source to ensure uniformity and consistency throughout. The data source is also reliable as it is from a non-profit organization and will likely be less biased. The dataset was cleaned up using Excel, empty data points were removed, and the data formatted neatly to perform regression modelling. <br>

The independent variables are chosen based on common sense, trial and error, and data visualization. The countries used were chosen at random to obtain a sample of the world population.<br>
</p>

<h3>Cleaning the datasets:</h3>
<p>
Since we have data from 2 different datasets, they are formatted differently and needs to be cleaned up before they can be used.<br>
The raw data for meat consumptions looks like this:<br>
<img src="/static/raw_meat_data.jpg"style="width:800px;height:450px;"><br>
Since we want data only from year 2000-2014, we shall use df.loc to get the appropriate values and then sort by country and year, which the code block below helps executes.<br>
<pre class="bg-secondary rounded">
	df_target_raw = pd.read_excel("allraw.xlsx", sheet_name  = target_name[0])
	df_target_raw = df_target_raw.loc[
							  (df_target_raw["Year"]>=2000) & 
							  (df_target_raw["Year"]<=2014),
							  ["Entity", "Year", "Meat food supply quantity (kg/capita/yr) (FAO, 2020)"]
							  ]
	df_target_raw = df_target_raw.set_index(["Entity","Year"])
	# we set the index to sort properly and join the 2 dfs
	df_target_raw =df_target_raw.sort_index()
	df_target_raw.index.names = ['Country Name', 'Year']
	df_target_raw
</pre>
After cleaning, the dataframe produced looks like this and just needs to be concatenated with the dataframe of variables.<br>
<img src="/static/meat_df.jpg"style="width:800px;height:450px;"><br><br>
For the datasets for the predictor variables, the each countries' data are represented as 1 whole row (as shown below) and thus some transposing is needed.<br>
<img src="/static/raw_variable_data.jpg"style="width:800px;height:450px;"><br>
The code block below are the steps needed to clean the dataset.
<pre class="bg-secondary rounded">
	df_features_raw = pd.DataFrame()
	for indicator in feature_names:
	  df_indicator = pd.read_excel("allraw.xlsx", sheet_name = indicator, header=4)
	  try:
		df_indicator = df_indicator.loc[:,years_str]
	  except:
		df_indicator = df_indicator.loc[:,years_int]
	  df_indicator.columns = [int(col) if col not in ["Country Name","Indicator Name"] else col for col in df_indicator.columns]
	  df_indicator = df_indicator.set_index(["Country Name"])
	  # stack to change the df into 1 column
	  df_indicator = df_indicator.stack().reset_index()
	  df_indicator = df_indicator.rename(columns={"level_1": "Year", 0: indicator[:-6]})
	  # here we set again to concat properly
	  df_indicator = df_indicator.set_index(["Country Name","Year"])
	  if indicator == feature_names[0]:
		df_features_raw = df_indicator
	  else:
		df_features_raw = pd.concat([df_features_raw,df_indicator], axis=1)
	df_features_raw = df_features_raw.reset_index()
	df_features_raw = df_features_raw.set_index("Country Name")
	df_features_raw
</pre>
The resulting dataframe is as follows:<br>
<img src="/static/variable_df.jpg" style="width:800px;height:450px;"><br>
The 2 dataframes are then joined to create the combined dataframe which we shall use for the rest of the project.
<pre class="bg-secondary rounded">
	df_combined = df_features_raw.join(df_target_raw, on = ['Country Name', 'Year'])
	df_combined = df_combined.reset_index()
	df_combined = df_combined.rename(columns={"Meat food supply quantity (kg/capita/yr) (FAO, 2020)":"Meat consumed"})
	df_combined
</pre>
<img src="/static/combined_df.jpg" style="width:800px;height:450px;"><br>
</p>
<hr>
<h3>Features and Targets:</h3>
<p>
Feature Variables:
We have chosen these features using intuition and their linear fit with the target<br>
<dl>
	<dt>Urban Population</dt>
	<dd>Urban population refers to people living in urban areas as defined by national statistical offices. It is calculated using World Bank population estimates and urban ratios from the United Nations World Urbanization Prospects. Aggregation of urban and rural population may not add up to total population because of different country coverages.(World Bank, 2018) </dd>
	<dt>Adjusted Net National Income per capita</dt> 
	<dd>Adjusted Net National Income per capita is the Gross National Income (GNI) minus consumption of fixed capital and natural resources depletion divided by the country’s population. (World Bank, 2020)</dd>
	<dt>Gross Domestic Product (GDP) per capita (US$) </dt>
	<dd>GDP per capita is gross domestic product divided by midyear population. This is linearly independent from IC as GDP does not take into account net monetary flow into the country from foreign investment. (World Bank national accounts data, 2022) </dd>
	<dt>Carbon Dioxide Emissions (Kilo Tonnes)</dt>
	<dd>Carbon dioxide emissions are those stemming from the burning of fossil fuels and the manufacture of cement. They include carbon dioxide produced during consumption of solid, liquid, and gas fuels and gas flaring. (Climate Watch. 2020. GHG Emissions. Washington, DC: World Resources Institute, World Bank | Data, 2020)</dd>
</dl>
Target Variables:
<dl>
	<dt>Meat consumption per capita(kg)</dt>
	<dd>Average meat consumption per capita, measured in kilograms per year. Figures do not include fish or seafood.  (Our World in Data, Food and Agriculture Organization of the United Nations, 2022)</dd>
</dl>
We chose our countries randomly and now we shall get the countries data and split into our features and taregt dataframe.
<pre class="bg-secondary rounded">
	selected_countries = ["Georgia" ,"Kenya" ,"Korea, Rep." ,"Liberia" ,'Madagascar' ,"Maldives" ,"Morocco" ,"Nepal" ,"Senegal" ,"South Africa" ,"Tanzania" ,"Thailand" ,"Uganda" ,"Ukraine" ,"United Kingdom"]
	df_countries = df_combined.loc[df_combined["Country Name"].isin(selected_countries),:]

	def get_features_targets(df, feature_names, target_names):
    	df_feature = df[feature_names]
    	df_target = df[target_names]
    	return df_feature, df_target

	columns = ["GDP_per_capita", "CO2", "Income_per_capita", "Urban_population"]
	df_features, df_target = get_features_targets(df_countries ,columns,["Meat consumed"])
</pre>
The resulting dataframes are presented below.
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <figure>
				<img src="/static/df_features.jpg" style="width:300px;height:225px;">
				<figcaption>df_features</figcaption>
			</figure>
        </div>
        <div class="col-md-6">
			<figure>
				<img src="/static/df_target.jpg" style="width:200px;height:225px;">
				<figcaption>df_target</figcaption>
			</figure>
        </div>
    </div>
</div>
<hr>
</p>
<h3>Building the Model:</h3>
<p>
Since meat consumption is continuous and not categorical, we shall be using Linear Regression instead of Logistical Regression.<br>
To build our model, we shall use the same functions as in our cohort and homework problem sets, as seen in the code below.<br>
The data for features/predictor variables also have to be normalized since they are all on different scales.<br>
<pre class="bg-secondary rounded">
	def normalize_z(df):
    	mean = df.mean(axis = 0)
    	std = df.std(axis = 0)
    	z = (df - mean)/std
    	return z

	def prepare_feature(df_feature):
	    out = df_feature.to_numpy()
	    nrows = np.shape(out)[0]
	    out = np.concatenate((np.ones((nrows,1)), out), axis = 1)
	    return out

	def prepare_target(df_target):
	    out = df_target.to_numpy()
	    return out

	def predict(df_feature, beta):
	    df_feature = normalize_z(df_feature)
	    np_feature = prepare_feature(df_feature)
	    pred = calc_linear(np_feature, beta)
	    return pred

	def calc_linear(X, beta):
	    return np.matmul(X, beta)

	import math
	def split_data(df_feature, df_target, random_state=None, test_size=0.5):
	    numrows = len(df_feature)
	    trainlen = math.ceil(numrows*(1-test_size))
	    testlen = numrows-trainlen
	
	    np.random.seed(random_state)
	    test_index = np.random.choice(df_feature.index, testlen, replace = False)
	    train_index = np.random.choice(df_feature.index, trainlen, replace = False)
	
	    df_feature_test = df_feature.loc[test_index, df_feature.columns]
	    df_feature_train = df_feature.drop(df_feature_test.index)
	    df_target_test = df_target.loc[test_index, df_target.columns]
	    df_target_train = df_target.drop(df_target_test.index)
	
	    return df_feature_train, df_feature_test, df_target_train, df_target_test

	def compute_cost(X, y, beta):
	    J = 0
	    nrows = np.shape(X)[0]
	    pred_y = calc_linear(X, beta)
	    J = np.matmul(((pred_y)-y).transpose(),((pred_y)-y))
	    J = (1/(2*nrows)) * J
	    return J

	def gradient_descent(X, y, beta, alpha, num_iters):
	    J_storage = np.zeros((num_iters))
	    m = X.shape[0]
	
	    for k in range(num_iters):
	        deriv = np.matmul(X.T, calc_linear(X,beta)-y)
	        beta = beta - alpha/m*deriv
	        J_storage[k] = compute_cost(X,y,beta)
	    return beta, J_storage
</pre>
<pre class="bg-secondary rounded">
	# Split the data set into training and test
	df_features_train, df_features_test, df_target_train, df_target_test = split_data(df_features, df_target,random_state=100,test_size=0.3)

	# Normalize the features using z normalization
	df_features_train_z = normalize_z(df_features_train)

	# Change the features and the target to numpy array using the prepare functions
	X = prepare_feature(df_features_train_z)
	target = prepare_target(df_target_train)

	iterations = 1500
	alpha = 0.01
	beta = np.zeros((5,1))

	# Call the gradient_descent function
	beta, J_storage = gradient_descent(X, target, beta, alpha, iterations)
	print(beta)
	# call the predict() method
	pred = predict(df_features_test, beta)
</pre>
From the model we trained, the scatter plot for the training set and full set is shown below. <br>
<h5>Training set</h5>
<img class="bg-light" src="/static/gdp_init_test.png" style="width:400px;height:225px;">
<img class="bg-light" src="/static/co2_init_test.png" style="width:400px;height:225px;"><br>
<img class="bg-light" src="/static/income_init_test.png" style="width:400px;height:225px;">
<img class="bg-light" src="/static/urban_init_test.png" style="width:400px;height:225px;"><br>
<h5>Full set</h5>
<img class="bg-light" src="/static/gdp_init.png" style="width:400px;height:225px;">
<img class="bg-light" src="/static/co2_init.png" style="width:400px;height:225px;"><br>
<img class="bg-light" src="/static/income_init.png" style="width:400px;height:225px;">
<img class="bg-light" src="/static/urban_init.png" style="width:400px;height:225px;"><br>
</p>
<hr>
<h3>Evaluating the Model:</h3>
<p>
We chose to use the adjusted R-squared value to measure the success of our regression as it only increases when relevant variables are added into a model, unlike R-squared value. In the exploration phase for Task II, we tested our models with different number of variables. When using a “trial and error” method, adjusted R-squared value is especially useful to find the appropriate variables in the first and second model.<br>

For this task, the adjusted R-squared value can be used to measure different models with the same number of predictor variables. A higher adjusted R-squared value would indicate a better model. Hence, adjusted R-squared value is a suitable metric to measure a successful model.<br>

R<sup>2</sup><sub>adjusted</sub> = 1 - (1-R<sup>2</sup>)(n-1)/(n-k-1)<br>

where:<br>

k is the number of Features<br>

n is number of datapoints<br>

In python, this is written as the functions below.
<pre class="bg-secondary rounded">
	def r2_score(y, ypred):
	    y_bar = y.mean()
	    ss_tot = np.sum((y-y_bar)**2)
	    ss_res = np.sum((y-ypred)**2)
	    return 1 - (ss_res/ss_tot)

	def adjusted_r2(y, ypred, independent_variables):
	    n = y.shape[0]
	    return(1-(1-r2_score(y, ypred)) * (n-1) / (n-1-independent_variables))
</pre>
Using these functions, we get an adjusted R<sup>2</sup> of 0.860984179520827, which while high, can be improved further.
</p>
<hr>
<h3>Improving the Model:</h3>
<p class="lead">
	Upon observation of the individual graphs, some factors showed a non-linear relationship. We then performed linear transformation for GDP per capita and Income per capita as we observed a y = sqrt(x) relationship between those variables and Meat consumption.
<pre class="bg-secondary rounded">
	import math
	def transform_features(df_feature, colname, colname_transformed):
		df_feature[colname_transformed] = df_feature.apply(lambda row:math.sqrt(row[colname]), axis=1)
		return df_feature
	df_combined = transform_features(df_combined, "GDP_per_capita", "sqrt(GDP_per_capita)")
	df_combined = transform_features(df_combined, "Income_per_capita", "sqrt(Income_per_capita)")
</pre>
From the new model we trained, the scatter plot for the training set and full set is shown below. <br>
<h5>Training set</h5>
<img class="bg-light" src="/static/gdp_imp_test.png" style="width:400px;height:225px;">
<img class="bg-light" src="/static/co2_imp_test.png" style="width:400px;height:225px;"><br>
<img class="bg-light" src="/static/income_imp_test.png" style="width:400px;height:225px;">
<img class="bg-light" src="/static/urban_imp_test.png" style="width:400px;height:225px;"><br>
<h5>Full set</h5>
<img class="bg-light" src="/static/gdp_imp.png" style="width:400px;height:225px;">
<img class="bg-light" src="/static/co2_imp.png" style="width:400px;height:225px;"><br>
<img class="bg-light" src="/static/income_imp.png" style="width:400px;height:225px;">
<img class="bg-light" src="/static/urban_imp.png" style="width:400px;height:225px;"><br>
</p>
The new model gives has an adjusted R<sup>2</sup> of 0.8789779029375543, which is an improvement from the previous model.<br>
Head to the <a href="/data">Model</a> tab to try out the model with various countries<br>
</p>
<hr>
<h5>Discussion and Analysis</h5>
<h6>Model accuracy</h6>
After the transformation of GDP per capita and Income per capita, we observed an improvement in the adjusted R-squared value from 0.861 to 0.879.
<h6>Weakness</h6>
<ul>
	<li>
		Given the small sample of countries, our model may not be able to accurately predict meat consumption for all countries.
	</li>
	<li>
		The model will output a value for extreme and illogical cases. For example, when all variables are set to 0, one would expect meat consumption to be 0 however it still yields a positive value this suggests that there are other factors that affect meat consumption that is not considered.
	</li>
	<li>
		Our dataset does not account for external factors that only affects certain countries. This can lead to a group of countries having different linear trends as observed in the “sqrt GDP” and “sqrt Income” graphs where the data can produce 2 regression lines. 
	</li>
</ul>
<h6>Further Improvements</h6>
During the exploration phase and after the linear transformation, we noticed some groups of countries are vastly different from the majority and shows a separate trend from the rest. This could suggest that another model for these groups will be more fitting. Alternatively, more variables can be used in our model to account for differences between countries to create a model that can accurately predict meat consumption for any country.
<br>
However, the latter is harder to implement it is difficult to find more data that is measured in the same standard for all countries and the complexity of the model would make it unfeasible. Thus, regional models or models in different categories (such as high or low GDP) can be used to predict meat consumption more accurately for all countries.
<br>
While Adjusted R-squared for each model is sufficiently high, correlation does not mean causation. Thus, further qualitative research should be done to prove that the factors chosen in fact affect meat consumption in a country.
<hr>
<h5>References</h5>
<ul>
	<li>
		Climate Watch. 2020. GHG Emissions. Washington, DC: World Resources Institute, World Bank | Data. (2020). CO2 emissions (kt) | Data. Retrieved from THE WORLD BANK | Data: https://data.worldbank.org/indicator/EN.ATM.CO2E.KT
	</li>
	<li>
		Food and Agriculture Organization and World Bank. (2022). Population density (people per sq.km of land area). Retrieved from The World Bank: https://data.worldbank.org/indicator/EN.POP.DNST
	</li>
	<li>
		International Monetary Fund. (2022). Inflation, consumer prices (annual %). Retrieved from The World Bank: https://data.worldbank.org/indicator/FP.CPI.TOTL.ZG
	</li>
	<li>
		Our World in Data, Food and Agriculture Organization of the United Nations. (2022, May 17). Daily meat consumption per person, 2019. Retrieved from Our World in Data: https://ourworldindata.org/grapher/daily-meat-consumption-per-person?time=latest
	</li>
	<li>
		World Bank. (2018). Urban Population. Retrieved from The World Bank: https://data.worldbank.org/indicator/SP.URB.TOTL?view=chart
	</li>
	<li>
		World Bank. (2020). Adjusted net national income per capita (current US$) | Data. Retrieved from THE WORLD BANK | Data: https://data.worldbank.org/indicator/NY.ADJ.NNTY.PC.CD?view=chart
	</li>
	<li>
		World Bank national accounts data, O. N. (2022). GDP (current US$) | Data. Retrieved from THE WORLD BANK | Data: https://data.worldbank.org/indicator/NY.GDP.MKTP.CD
	</li>
</ul>
{% endblock %}